# Python
__pycache__/
*.pyc
#log files
backend/crawl_log.txt
backend/visited.pkl
backend/app/crawler/downloads/
# Virtual environment
venv/

# Environment variables
.env

# Node modules (if frontend uses npm)
node_modules/

# Logs
*.log

# IDE
.vscode/