.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 25px;
}

.hero button {
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}