.static-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    max-width: 700px;

    max-height: 80vh;      /* Don't exceed 80% of screen height */
    overflow-y: auto;      /* Vertical scroll */

    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);

    z-index: 1000;
}


.static-popup button{

padding:8px 15px;

cursor:pointer;

}
.static-popup h2 {
    color: #222;
    margin-bottom: 20px;
    text-align: center;
}
.committee-member {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.committee-member:last-child {
    border-bottom: none;
}

.committee-member h4 {
    margin: 0 0 8px;
    color: #1f2937;
}

.committee-member p {
    margin: 4px 0;
    color: #555;
}
.static-popup button {
    position: sticky;
    bottom: 0;
    left: 100%;
    margin-left: auto;
    display: block;

    padding: 10px 20px;

    z-index: 10;
}